<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search" formControlName="search">
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit" [disabled]="!searchForm.valid">Search</button>
            <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
        </span>
    </div>
</form>